#border {
  border-bottom: 5px black solid;
  border-top: 5px black solid;
  top: 0%;
  left: 0%;
  height: 6%;
  width: 100%;
  position: absolute;
  background-color: black;
}

#buyNow {
  position: absolute;
  top: 1%;
  right: 35%;
}
#contact {
  position: absolute;
  top: 1%;
  left: 35%;
}
#home {
  font-size: 160%;
  position: absolute;
  top: 1%;
  left: 44%;
}

button {
  color: white;
  background: none;
  border: none;
  font-size: 120%;
  outline: none;
  cursor: pointer;
}

#form {
  left: 45%;
  top: 20%;
  position: absolute;
}
