#border {
  border-bottom: 5px black solid;
  border-top: 5px black solid;
  top: 0%;
  left: 0%;
  height: 6%;
  width: 100%;
  position: absolute;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 160%;
}

#adidas {
  position: absolute;
  top: 25%;
  right: 46%;
}
#nike {
  position: absolute;
  top: 25%;
  right: 26%;
}
#rebook {
  position: absolute;
  top: 30%;
  right: 68%;
}
#adidasText {
  position: absolute;
  font-size: xx-large;
  top: 20%;
  right: 50%;
}
#nikeText {
  position: absolute;
  font-size: xx-large;
  top: 20%;
  right: 30%;
}
#reebookText {
  position: absolute;
  font-size: xx-large;
  top: 20%;
  right: 75%;
}
#infoText {
  font-size: xx-large;
  position: absolute;
  top: 52%;
  right: 49%;
}
#buyNow {
  position: absolute;
  top: 1%;
  right: 35%;
}
#contact {
  position: absolute;
  top: 1%;
  left: 35%;
}
#home {
  font-size: 160%;
  position: absolute;
  top: 1%;
  left: 44%;
}

button {
  color: white;
  background: none;
  border: none;
  font-size: 120%;
  outline: none;
  cursor: pointer;
}
